* {
    margin: 0;
    padding: 0;
}

.grid .col {
    /* display: block; */
    width: 200px;
    height: 200px;
    background-color: #ff0d0d;
    margin: 1px;
    float: left;
}

p {
    clear: both;
    text-align: justify;
    padding: 30px;
}